POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eprocurement

PGADMIN_DEFAULT_EMAIL=admin@demo.com
PGADMIN_DEFAULT_PASSWORD=Password123!

JWT_ISSUER=eprocurement
JWT_AUDIENCE=eprocurement-web
JWT_SECRET=development-secret-change-me-development-secret

FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8088

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

SAP_SQL_HOST=host.docker.internal
SAP_SQL_PORT=1433
SAP_SQL_USER=sa
SAP_SQL_PASSWORD=change-me
SAP_COMPANY_DATABASE=TargetCompany1
